.btn-create {
    background-color: #ffd700 !important;
    border-radius: 25px;
    margin: 0.5rem;
}

.btn-back{
    background-color: 	#ffa07a;
    border-radius: 25px;
    margin: 0.5rem;
}

.btn-img{
    background-position: center;
    background-size: 2rem;
    margin-left: auto;
  }

.btn-show{
    background-color: #daa520;
    border-radius: 25px;
    margin: 0.5rem;
}

.btn-edit{
    background-color: #daa520;
    border-radius: 25px;
    margin: 0.5rem;
}



body {
    background-color: #faf0e6;
    margin: 2rem
}
